<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="navbar">
  <div class="container">

    <a class="navbar-brand" href="javascript:void(0)">
      <img src="../../../assets/images/logo.png" class="img-fluid logo" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/kendo-ui" id="navbarDropdown" role="button" data-toggle="dropdown">
            KendoUI
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/kendo-ui/excel-export" >Excel Export</a>
            <a class="dropdown-item" routerLink="/kendo-ui/grid" >Grid</a>
            <a class="dropdown-item" routerLink="/kendo-ui/grid-form" >Grid Form</a>
            <a class="dropdown-item" routerLink="/kendo-ui/grid-excel-export" >Grid Excel Export</a>
            <a class="dropdown-item" routerLink="/kendo-ui/grid-pdf-export" >Grid PDF Export</a>

          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/flexmonster"  id="navbarDropdown" role="button" data-toggle="dropdown">
            FlexMonster
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/flexmonster/flex-grid">Simple Grid</a>
            <a class="dropdown-item" routerLink="/flexmonster/pivot-table-demo">Pivot Table</a>
            <a class="dropdown-item" routerLink="/flexmonster/calling-events">Calling Events</a>
            <a class="dropdown-item" routerLink="/flexmonster/using-api-calls">API Calls</a>
            <a class="dropdown-item" routerLink="/flexmonster/updating-data">Updating Data</a>
            <a class="dropdown-item" routerLink="/flexmonster/customizing-toolbar">Customize Toolbar</a>
            <a class="dropdown-item" routerLink="/flexmonster/customizing-grid">Customize Grid</a>
            <a class="dropdown-item" routerLink="/flexmonster/with-highcharts">Integration Highcharts</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/opensource"  id="navbarDropdown" role="button" data-toggle="dropdown">
            Open Source
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">SheetJS</a>
            <a class="dropdown-item" href="#">ExcelJS</a>
            <a class="dropdown-item" href="#">PDFMake</a>
            <a class="dropdown-item" href="#">Webdatarocks</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/charts"  id="navbarDropdown" role="button" data-toggle="dropdown">
            Charts
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Highcharts</a>
            <a class="dropdown-item" href="#">Google Charts</a>
            <a class="dropdown-item" href="#">AmCharts</a>
          </div>
        </li>
      </ul>
    </div>

  </div>
</nav>
